body{
    font-family:Helvetica, "Trebuchet MS", sans-serif;
    background: url(../img/fundo.png) repeat-x ;
}
ul{
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
}

a:link, a:active, a:visited{
    color: #af670a;
    text-decoration: none;
}
a:hover{
    color: #af670a;
    cursor: pointer;
}


/*Configurando o topo*/
#container{
    width: 1080px;
    margin: 0 auto;
}

/*------------- LOGO --------*/
#logo h1{
    float: left;
}
#logo a{
    width: 248px;
    height: 21px;
    text-indent: -3000;
    display: block;
    background: url(../img/logo.png) no-repeat;
}

header{
    padding: 15px 0 ;
    height: 55px;
}
nav ul{
    margin: 20px;
    float: right;
}
nav ul li{
    padding: 5px;
    float: left;
}
nav ul li a:link{
    display: block;
    margin-right: 20px;
    padding-bottom: 3px;
}
nav ul li a:hover{
    border-bottom: 1px solid #363d3d;
}
/*------------- FIM LOGO --------*/

/*------------- INICIO CONTEUDO --------*/
#conteudo{
    width: 710px;
    float: left; 
    margin-bottom:20px ; 
}
/*------------- INICIO article --------*/


article#video{
    float: left;
    width: 310px;
    margin-left: 35px;
}

article#mapa{
    float: left;
    width: 310px;
    margin-left: 37px;

}

article#historia{
    float: left;
    width: 310px;
    margin: 15px 0 0 37px;
}

article#exposicoes{
    float: left;
    width: 310px;
    margin: 15px 0 0 25px;
}


article#exposicoes li a{
    margin-bottom: 50px;
    font-size: 0.9em;
}
article#exposicoes li a:hover{
    background: #363d3d;
}





/*------------- FIM article --------*/


aside{
    width: 350px;
    float: right;
    background: #c0bfbe;
    padding-bottom:30px ;
    margin-bottom: 20px;
}

section#visita{
    background: #f3f3bb;
    padding: 10px 27px 27px 27px;
    margin-top: 10px;
}

h3{
    color:#86521a;
    text-transform: uppercase;
    font-size: 1.0em;
    margin-bottom: 15px;
    margin-left: 15px ;
}

h4{
    color: #86521a;
    text-transform: uppercase;
    padding: 3px;
    margin-bottom: 0px;
}

/*Formulários
*/
input{
    height: 20px;
    width: 130px;
    background: #fff;
    border: none;
    font-size: 0.7em;
}

input.campo{
    border: 1px solid #ada484;
}
input.botao{
    background: #9b9271;
    color: white;
    width: 100%;
    height: 40px;
    font-size: 1.2em;
    cursor: pointer;
}

fieldset{
    border: none;
}

legend{
    display:none ;
}

section#galeria{
    padding:10px 27px 27px 27px;;
}
section#galeria a{
    display: block;
    background: url(../img/fundo-foto.png) no-repeat;
    float: left;
    padding:17px 15px 17px 15px;
    margin: 10px 0 0 20px;
}
section#galeria img{
    margin-left: 2px;
    margin-top: 2px;

}
/*------------- FIM CONTEUDO --------*/

/*------------- INICIO RODAPÉ --------*/

footer {
    clear: both;
    padding: 15px 0 30px 0;
    text-align: center;
    background: url(../img/fundo-rodape.png) no-repeat center top;
}
footer> p a {
    padding: 2px;
    
}
footer ul li{
    float: left;
    text-indent: 10px;
}
footer ul li a{
    font-size: 0.8em;
    color: #201302;
}

footer ul li a:hover{
    border-bottom: 1px solid #363d3d;
}
/*------------- FIM RODAPÉ --------*/


